@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {list-style-type: none;
}
body{
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-image: url(../img/fondoweb5.jpg);
	width: 80%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;

}


header{
	width: 100%;
	height: 124px;

	background:
	url(../img/mateheader.png) right bottom no-repeat,
	url(../img/fondoheader.png);
	margin-top: 1%;
	border-radius: 5px;
	}


section{
	width: 100%;
	height: 536px;
	margin-top: 0.5%;
 background:
 url(../img/matecopia.png);
 
}



footer{
	width: 100%;
	height: 50px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	background-color: rgba(255, 128, 72, 0.8);
	border-radius: 5px;
	text-decoration: 0;
	}

.ancho{
	width: 100%;
}


#botonera1{
	width: 10%;
	height: 40px;
	background-color: rgba(255, 128, 72, 0.8);
	float: right;
	margin-top: 6%;
	margin-right: 2%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
	}
#botonera1acti{
	width: 10%;
	height: 40px;
	background-color: #1a2730;
	float: right;
	margin-top: 6%;
	margin-right: 2%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
	}

#botonera2{
	width: 10%;
	height: 40px;
	background-color: rgba(255, 128, 72, 0.8);
	float: right;
	margin-top: 6%;
	margin-right: 2%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	}

#botonera2acti{
	width: 10%;
	height: 40px;
	background-color: #1a2730;
	float: right;
	margin-top: 6%;
	margin-right: 2%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	}

#botonera3{
	width: 10%;
	height: 40px;
	background-color: rgba(255, 128, 72, 0.8);
	float: right;
	margin-top: 6%;
	margin-right: 10%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	}

#botonera3acti{
	width: 10%;
	height: 40px;
	background-color: #1a2730;
	float: right;
	margin-top: 6%;
	margin-right: 10%;
	border-radius: 5px;
	padding-left: 1.3%;
	box-shadow: 5px -3px 17px #000000;
	}

.boton1{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	padding-top: 0.5%;
	padding-left: 1%;

}

.boton2{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	padding-top: 0.5%;
	padding-left: 2.3%;
}

.boton3{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	padding-top: 0.5%;
	padding-left: 2.7%;
}

#area1{
	width: 30%;
	height: 536px;
	float: left;
	margin-top: 0%;
	margin-left: 0%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: black;
	overflow: auto;
}

#area2{
	width: 70%;
	height: 536px;
	margin-top: 0%;
	margin-right: 0%;
	background-color: red;
	padding-left: 2%;
	padding-right: 2%;
	float:right;
	overflow: auto;
}
#wrapper {
width: 70%;
height: 90%;
padding: 20px;
float:left;
margin-top: 0%;
padding-top: 3%;
  }

.rslides {
  margin: 0 auto 40px;
  }

#area4{
	width: 60%;
	height: 536px;
	float: left;
	margin-top: 1%;
	margin-left: 0%;
	border-radius: 15px;
	background: linear-gradient(14deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 95%);
	overflow: auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
}
#informacion{
	width: 35%;
	height: 38%;
	
}
.pinformacion{
	font-size: 14px;
	color:white;
	padding: 1%;
}
#fotoheli{
	width: 63%;
	height:38%;
	float:right;
	}
#botonmovil1{
	width: 100%;
	height:6%;
	margin-top: 15%;
	background-color: blue;

}
#botonmovil{
	width: 100%;
	height:6%;
	margin-top: 3%;

}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 1%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  float: left;

}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-top: 1%
}

.active:after {
  content: "\2212";
}

.content {
  width: 100%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  float: left;
  padding-top: 0%
}
.textocontent{
	font-size: 15px;
	padding: 1%;

	}

.w3-button {width:150px
background-color: black;}




#area3{
	width: 40%;
	height: 98%;
	float: left;
	margin-top: 0.5%;
	margin-left: 0%;
	border-radius: 15px;
	background: linear-gradient(133deg, rgba(0,0,0,1) 0%, rgba(97,97,97,1) 95%);
	overflow: auto;
	padding-left: 2%;
	padding-right: 2%;

		}
#mapa{
	width: 100%;
	height:82%;
	border:ridge 7px #6b330d;
	-moz-border-radius: 18px;
}
#area4{
	width: 60%;
	height: 98%;
	float: left;
	margin-top: 0.5%;
	margin-left: 0%;
	border-radius: 15px;
	background: linear-gradient(14deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 95%);
	overflow: auto;
	padding-left: 2%;
	padding-right: 2%;
		}
#area5{
	width: 90%;
	height: 90%;
	float: left;
	margin-top: 10%;
	margin-left: 0%;
	border-radius: 15px;
	background-color: white;
	overflow: auto;
}

.galeria{
	color: #FFFFFF;
	font-size:40px;
	padding-top: 35%;
	padding-left: 20%;
	overflow: auto;

}



#area6{
	width: 40%;
	height: 530px;
	float: left;
	margin-top: 1%;
	background-color: white;
	overflow: auto;
	
} 

#area6b{
	width: 20%;
	height: 530px;
	float: left;
	margin-top:1%;
	background-color: yellow;
	border-radius: 15px;
	overflow: auto;
}

#area6c{
	width: 40%;
	height: 530px;
	float: left;
	margin-top:1%;
	background-color: blue;
	border-radius: 15px;
	overflow: auto;
}

.formulario1{
	padding-left: 25%;
	color: #000000;
}

#area10{
	width: 50%;
	height: 30%;
	float: left;
	margin-top:2%;
	margin-left: 5%;
	background-color: #000000;
	border-radius: 15px;
	overflow: auto;
	}
#area8{
	width: 40%;
	height: 450px;
	float: left;
	margin-top: 2%;
	background-color: #ffffff;
	overflow: auto;
}



#area11{
	width: 40%;
	height: 80%;
	float: left;
	margin-top:1%;
	border-radius: 15px;
	margin-left: 1%;
	overflow: auto;
	}


#fotoflor3{
	padding-top: 1%;
	padding-left: 20%;
	
}

#fotoflor4{
	padding-top: 2.5%;
	padding-left: 10%;
	
}
p{ margin-left: 0%;
margin-right: 0%;
color: #000000;
font-size:20px;

}
.textoindex{
	font-size:16px;
	color: white;
}
.textoindex2{
	
	color: #80c3fc;
}
.textoArgumento{
	font-family: 'Barlow Condensed', sans-serif;
	color:#ffffff;
	font-size: 19px;
	font-weight: 400;
	padding-top: 1%;
}



.nombreapellido{
	text-decoration: none;
}



#logo1{
	width: 15%;
	height: 94%;
	background: url(../img/logomate.png) no-repeat;
	float: left;
	margin-left: 6%;
	margin-top:0.4%;;
	}
#logo2{
	width: 120px;
	height: 30px;
	float: left;
	margin-left: 30px;
	margin-top: 0%;
}

#logo3{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

#logo4{
	width: 30px;
	height: 25px;

	float: right;
	margin-right: 30px;
	margin-top: 10px;
	padding-right: 0.5%;
	padding-top: -1%;
}

#logo5{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 10px;
	margin-top: 1.3%;

}

.nombre{
	font-size: 13px;
	color: #000000;
	padding-top: 16px;
	margin-left: 50px;
	margin-right: 50px;
	
}
a{ 
	text-decoration: none;
 }


.logonx{
	font-size: 13px;
	padding-top: 10px;
	float: right;
}

.logofb{
	font-size: 13px;
	padding-top: 7px;
	float: right;
}

.logoinsta{
	font-size: 13px;
	padding-top: 9px;
	float: right;
}
.logoNF{
	font-size: 13px;
	padding-top: -2px;
	float: left;
}
#logoprin5{
	width: 200px;
	height: 100%;
}


#noti3{
	width: 83%;
	height: 100%;
	
}

#noti4{
	width: 17%;
	height: 100%;

	
}

.tama{
	width: 100%;
	height: 100%;
}

form{
	width: 55%;
	height: 80%;
	background-color:#4f616e;
	padding-left: 10%;
	border-radius: 10px;
	margin-left: 15%;
	padding-top: 4%;
	border:double 4px #000000;
	}


.boton{
	width: 150px;
	height: 25px;
	background-color: #E52519;
	color: #ffffff;
	border-radius: 20px;
}
.txtformu{
		color: #000000
	font-size:13px;

}

.cajitas{
	width: 50%;
	color: #7d5fff;
}

h1{ 
	font-family: 'Barlow semi Condensed', sans-serif;
	color: #80c3fc;
	margin-left: 1%;
	font-size: 20px;
}
.elenco{ 
	font-family: 'Barlow semi Condensed', sans-serif;
	color: #80c3fc;
	margin-left: 3%;
	font-size: 20px;
	margin-top: -2%;
}

h2{color: #239C81;
	margin-left: 9%;
	font-size:17px;
	margin-top: 4%
}
.index{
	font-family: 'Fredoka One', cursive;
	background-color: rgba(46, 138, 208, 1);
	box-shadow: 20px 8px 35px #000000; 
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 11.5%;
	font-size: 30px;
	padding-top: 1%;
	padding-left: 5%;
	
}
.itinerario{
	font-family: 'Fredoka One', cursive;
	background-color: rgba(46, 138, 208, 1);
	box-shadow: 20px 8px 35px #000000; 
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 2%;
	font-size: 30px;
	padding-top: 1%;
	padding-left: 5%;
	
}
.reserva{ 
	font-family: 'Fredoka One', cursive;
	background-color: rgba(46, 138, 208, 1);
	box-shadow: 20px 8px 35px #000000; 
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 2%;
	font-size: 30px;
	padding-top: 1%;
	padding-left: 5%;
	
}

h3{ font-family: 'Fredoka One', cursive;
	background-color: rgba(46, 138, 208, 1);
	box-shadow: 20px 8px 35px #000000; 
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 9%;
	font-size: 30px;
	padding-top: 1%;
	padding-left: 5%;
	column-span: all;
}

h4{ 
	font-family: 'Fredoka One', cursive;
	color: #80c3fc;
	margin-left: 10%;
	font-size:18px;
	margin-top: 5%;
}
.informacion{ 
	font-family: 'Fredoka One', cursive;
	background-color: rgba(46, 138, 208, 1);
	box-shadow: 20px 8px 35px #000000; 
	margin-left: 1%;
	font-size:22px;
	margin-top: 0%;
	color:black;
}

h5{
	font-family: 'Barlow semi Condensed', sans-serif;
	color: #80c3fc;
	margin-left: 13.6%;
	font-size:22px;
	padding-top: 1.5%;
	margin-top: 1%;
	}

